@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos</h1>
    <p>Ir a la lista de compras <a class="navbar-brand" asp-area="" asp-controller="Producto" asp-action="Index">Lista de Compras</a></p>

</div>
