html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #121212;
    color: #f1f1f1;
}

.custom-dark-nav {
    background-color: #121212 !important;
    color: #f1f1f1 !important;
}
.navbar a.nav-link:hover {
    color: #00d4ff;
}

.nav {
    background-color: #121212;
    color: #f1f1f1;
    border-bottom: 1px solid #444;
}
.form-control, .form-select {
    background-color: #1f1f1f;
    color: #fff;
    border: 1px solid #444;
}

.btn {
    margin-right: 0.3rem;
}